<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/styles.css" media="(min-width:901px)">
    <link rel="stylesheet" href="css/mobile_styles.css" media="(max-width:901px)"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
		<div class="navdiv">
			<div class="logo"><a href="#">Jakel's Blog Website</a> </div>
			<ul>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</nav>
    <h1 class="main-header">Create a New Blog Post</h1>
    <form action="/create-post" method="post">
        <label for="name">Your name: </label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="title">Title your post: </label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Write about it: </label><br>
        <textarea type="text" id="content" name="content" rows="5" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <h2 class="recent">Recent Posts</h2>
    <div id="posts">
        <% if (posts.length > 0) { %>
          <% posts.forEach(function(post, index) { %>
            <div class="post">
              <h3><%= post.title %></h3>
              <p class="post-content"><%= post.content %></p>
              <p>By: <%= post.name %> | Created on: <%= post.time %></p>
              <a class="edit-btn" href="/edit-post/<%= index %>">Edit</a> | 
              <a class="delete-btn" href="/delete-post/<%= index %>">Delete</a>
            </div>
          <% }); %>
        <% } else { %>
          <p>No posts yet. Be the first to create a post!</p>
        <% } %>
      </div>
</body>
</html>